.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-body {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Image-Location { 
  display: table-cell; 
  vertical-align: middle; 
  text-align: center;
  width: 150;
  height: 100;
}

.caption {
  position: absolute;
  width: 283px;
  height: 50px;
  bottom: 0px;
  left: 0px;
  color: #ffffff;
  background: white;
  text-align:center;
  font-weight:bold;
  opacity:0.7;
}

.Left-Button {
  height: 100%;
  width: 60px;
  position: absolute;
  top: 0px;
  margin: 0px;
  z-index: 11;
  outline: currentcolor none medium;
  background-color: transparent;
  border: medium none;
  left: -190px;
  padding-left: 0px;
}

.Right-Button {
    height: 100%;
    width: 60px;
    position: absolute;
    top: 0px;
    margin: 0px;
    z-index: 11;
    outline: currentcolor none medium;
    background-color: transparent;
    border: medium none;
    right: 0px;
    padding-right: 100px;
}

.Left-Rotate {
  transform: rotate(90deg);
  display: block;
  position: absolute;
  top: 60%;
  margin-top: -25px;
  color: rgb(255, 255, 255);
}

.Right-Rotate {
  transform: rotate(270deg);
  display: block;
  position: absolute;
  top: 41%;
  margin-top: -25px;
  color: rgb(255, 255, 255);
  width: 50px;
}

.lightbox-image-caption {
    position: absolute;
    width: 50%;
    margin-left: 2%;
    top: 80%;
    background-image: linear-gradient(to bottom,rgba(255,255,255,0),rgba(0,0,0,.75),80%);
    background-color: #000;
    opacity: .75;
    border-radius: 8px;
    padding: 16px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
